* {
    margin: 1px;
    padding: 0px;
}

.btn {
    width: 200px;
    padding: 5px;
    text-align: center;
}

.resultado {
    line-height: 50px;
    width: 150px;
    background-color: salmon;
    text-align: center;
    font-size: 30px;
}